---
layout: casestudy
title: Happy Days
body-class: parallax-wrapper casestudy
case_url: ../

project_title: Happy Days
subtitle: Deliver delight based on the weather
descender: descender

header_img: images/happydays/happydays.png
header_alt: Happy Days app screens
project: Forecast Joy&#58; An app enabling you to deliver delight based on the weather
role: UX and UI Design
tools: Sketch, InVision, Principle

sound_url: https://open.spotify.com/album/7HUnDmvDPJGVdNwCyyFHdd?si=RqqE0QBhS1yrhpuyDoHdLg
sound: Marianas Trench - Astoria
copyright: All designs shown © Kezie Todd 2018
---
                
          <h3>{{site.p1}}</h3>
          <p>Create an app to make gift cards a meaningful experience rather than a last resort.</p>

          {% include image.html position="flex-first" src="images/happydays/hd-plan.jpg" alt="Early customer journey sketch" desc="Doodling early product concepts revolving around the customer journey" %}

          {% include image.html position="" src="images/happydays/hd-dial.jpg" alt="Paper prototyping thermostat interaction" desc="Sketching away to incoporate a thermostat dial based on user research" %}



          <h3>{{site.p2}}</h3>
          <p>Brainstorming turned up many an option but nothing stuck until walking home brought the immortal lyrics “save it for a rainy day” from Catch a Falling Star to mind, proving inspiration truly can come from anywhere. What if you could save e-gifts for a rainy day? Transform a simple transaction into an experience. Send your long distance girlfriend coffee on a cold morning or ice cream for your best friend on the first day of summer?</p>
          <p>A mechanism to combine gifts with the weather requires venturing into new territory and research. LOTS of research. From marketing essays on gift cards to help identify target audience to testing a mess of shopping and weather apps. Gathering critical user research required more unconventional methods: guerrilla research on the train interviewing fellow commuters (captive audience FTW!).</p> 

          {% include button.html url="https://www.sayskez.tumblr.com/tagged/weatherapp" label="Research Notes" %}          
  

          {% include image.html position="flex-first" src="images/happydays/hd-journey.jpg" alt="Post-it covered wall for research findings" desc="A spot of redecorating, featuring insights from research sessions and customer journey mapping" %}

          {% include image.html position="" src="images/happydays/hd-persona.png" alt="Grace: a user persona for the product" desc="Personas pulled twice their weight, encapsulating the user goals around both giving and receiving gifts" %}

          <h3>{{site.p3}}</h3>
          <p>Crafting a checkout flow which involves setting weather conditions with shopping for gifts means experimentation and testing. Lots of testing. Commerce flows are meaty problems at the best of times and here it is combined in a concept that is fresh for the user. The flow needs to be seamless and convey the idea with the right emotions. Do you select the target first or the gift? What about the weather trigger condition? Categorising gifts was also an issue. Do you group by brand name? Categories? What labels are meaningful to the user? And how do you find this out when there is no budget for research?</p>

          <h3>{{site.p4}}</h3>
          <p>Guerrilla research proved surprisingly successful (and strangers were surprisingly receptive). Optimum research conditions? Not exactly but one has to get creative as a UX team of one with zero budget. Precious insights helped build personas and test to find the optimum flow. The final design drills the entire shopping process into three simple steps and setting the weather is easy with a thermostat dial inspired by user feedback.</p>
                
          <p>The final design guides the user through sending a gift, suggesting surprises based on the weather and making shopping, paying, and sending only a few taps away. Balancing playfulness with trustworthiness, the interface uses faux 3D elements and bright colours mixed with plain language and professional design. Want to send your girlfriend a coffee the next time it rains? Easy:</p>

          <ol>
              <li>Spin the dial to set the weather trigger: gifts are suggested based on your choice.</li>
              <li>Choose or search for a gift then select the brand and amount: the perfect surprise for any day!</li>
              <li>Choose a contact to delight: gifts can be delivered via text, messaging app, or email so no need for phone numbers.</li>
              <li>Confirm & Pay with Apple Pay or by scanning a card: forecast complete!</li>
          </ol>
             
          {% include image.html position="flex-first" src="images/happydays/hd-intro.png" alt="First three screens presentation" desc="Choosing a surprise to delight your friend is easy thanks to Happy Days' suggestions based on the weather condition you choose" %}

          {% include image.html position="" src="images/happydays/hd-deliver.png" alt="Delivery screens" desc="Easy edelivery: surprises unlock based on the weather conditions and can be redeemed or scanned straight without leaving your messaging service." %}

          <h3>{{site.p5}}</h3>
          <p>How do you quantify delight? One of the pivotal design challenges with Happy Days was balancing the hard issues of designing an e-commerce app with the emotional design and unquantifiable ideas of ‘forecasting joy’. How do you craft not just an interface but an experience that elicits the desired emotion?</p>

          <video controls="controls">
            <source src="images/happydays/happydays-video4.mp4" type="video/mp4">
            <source src="images/happydays/happydays-video4.webm" type="video/webm">
          Aw, your browser does not support embedded videos :(
          </video>