---
layout: casestudy
title: Pack-Naut
body-class: parallax-wrapper casestudy
case_url: ../

project_title: Pack-Naut
subtitle: A packing app where there's always space for more

header_img: images/packnaut/packnaut2.png
header_alt: Pack-Naut menu, find a destination, and packing recommendation screens
project: App simplifying and invigorating the packing experience
role: UX and UI Design
tools: Illustrator and InVision

sound_url: https://open.spotify.com/album/17jEAFeDGvlIZOnxO7UXuS
sound: Zion.T - OO
copyright: All designs shown © Kezie Todd 2017
---
                
          <h3>{{site.p1}}</h3>
          <p>Create an app that benefits frequent flyers and holidaymakers alike. How does the product make packing an easier and more enjoyable experience for two diverse groups with differing needs?</p>

          {% include image.html position="flex-first" src="images/packnaut/astronautonboarding.jpg" alt="Sketching astronaut to guide users through the onboarding process" desc="A friendly astronaut to guide users through the onboarding process" %}

          {% include image.html position="" src="images/packnaut/packnautsketch.jpg" alt="Paper prototyping and wireframe sketching" desc="Paper prototyping and early wireframes" %}



          <h3>{{site.p2}}</h3>
          <p>The needs and travelling method of an excited holidaymaker on their first trip to Spain and a frequent traveller on their way to a new conference differ but both have a common pain point: packing. What do you bring? How much? Thus Pack-Naut was born; an app that can not only provide valuable information and accelerate the process by generating personalised packing lists but also deliver an immersive experience where users are rewarded for travelling, making long flights seem like less of a chore. An app that can pack your bag based on your destination and personal preferences is useful, one that can also tell you how long you will survive on Mars with that same bag is fun.</p>
           
          {% include button.html url="https://www.sayskez.tumblr.com/tagged/travelapp" label="Research Notes" %}          
  

          {% include image.html position="flex-first" src="images/packnaut/icons.png" alt="Space-travel themed icon set" desc="Original space travel themed icon set encapsulating the playful but practical tone" %}

          {% include image.html position="" src="images/packnaut/sydney.jpg" alt="Syndey Opera House with UFO abducting a kangaroo" desc="Example destination: the Syndey Opera House complete with UFO" %}

          <h3>{{site.p4}}</h3>
          <p>Pack-Naut was built from the ground up with a colourful, illustrated interface (featuring the odd UFO or two) to support the theme and immerse the user in the app’s world of quirky space travel. The icons establish the style, wordlessly conveying the playful but practical tone and theme. The illustrations and interface evolved from there, focusing on removing the need for lengthy explanations that might break immersion.</p>
                
          <p>The slogan might be ‘there’s always space for more’ but the style is purposely minimal to make navigation a breeze. Testing for optimal target sizes and button positioning was essential to create an app that is easy use with one hand or two. Combined with a colour scheme inspired by Mars, the interface becomes an immersive atmosphere to take packing to another world (or rather, planet) so the user can enjoy the process whether they are generating their first packing list or planning a trip with their favourite saved bag.</p>
             
          {% include image.html position="flex-first" src="images/packnaut/packnaut1.png" alt="Opening screen" desc="The journey begins here" %}

          {% include image.html position="" src="images/packnaut/packnautscreens.png" alt="Sample of all major screens" desc="All the screens for the initial prototype, including a hidden interstellar destination" %}


          <h3>{{site.p5}}</h3>
          <p>Building a user interface from the ground up meant no asset could be taken for granted. Illustration, a new found love of icon design, nailing the wireframes, and a fresh appreciation for the practical aspects of UX, from heat maps to appropriate target sizes and designing with colour for accessibility, were all essential. For me, a good user experience should be not only functional and intuitive but enjoyable. The ultimate hope is that the app is as enjoyable to use as it was to make.</p>