---
layout: casestudy
title: Takahe
body-class: parallax-wrapper casestudy
case_url: ../

project_title: Takahe 
subtitle: Revealing the story of the mysterious bird

header_img: images/takahe/t-glasses.gif
header_alt: Red reveal on glasses in the website header
project: An interactive, narrative web experience bringing new engagement to a National Geographic archive article.
role: Art Direction, Illustration, and Web Development
tools: Photoshop, HTML, CSS, JavaScript

sound_url: https://open.spotify.com/album/6twKQ0EsUJHVlAr6XBylrj?si=lcJQkjFdTH-q9h_UNQlQQw
sound: Panic! At The Disco - Death of a Bachelor
copyright: All designs shown © Kezie Todd 2018
---
                
          <h3>{{site.p1}}</h3>
          <p>Transform a 1952 National Geographic article into a narrative web experience for the modern day.</p>

          {% include image.html position="flex-first" src="images/takahe/t-sketch.jpg" alt="Early wireframe sketches" desc="The birthplace of the lens, inspired by red reveal secret codes from when I was a kid" %}

          {% include image.html position="" src="images/takahe/t-styletile.png" alt="Styletile of the elements for the website" desc="Early styling used real documents for a found footage style, as if searching through archives on a desk" %}



          <h3>{{site.p2}}</h3>
          <p>The narrative is compelling: a mysterious bird, a living fossil, thought lost to time, and one man’s lifelong quest to prove it still lives. Maybe it’s bias from my inner zoology geek but this excites me. Photos only go so far to illustrate this tale — even the old magazine had those. So how do you leverage the medium of the web to bring a story beyond the words, beyond the visuals, and into the interaction itself? Make it something the user truly experiences? What about putting the user into the role of the protagonist: a modern day investigator on the trail of the legendary bird. How? With every detective’s tool: a magnifying glass. Or in this case, just the lens. A red lens from an old technique perfect for making the unseen seen: red reveal.</p>
           
          {% include button.html url="https://www.sayskez.tumblr.com/tagged/takahe" label="Research Notes" %}          
  

          {% include image.html position="flex-first" src="images/takahe/t-birdbefore.png" alt="Before and after of takahe illustration" desc="Vintage takahe illustration (left) and what it morphed into (right), complete with custom built skeleton waiting to be revealed" %}

          {% include image.html position="" src="images/takahe/t-bird.gif" alt="Takahe skeleton reveal in action" desc="Aren't you a cute little bird: the reveal in action" %}


          <h3>{{site.p3}}</h3>
          <p>When the visual narrative is driven by an interaction, expect that interaction to cause problems. Researching the red reveal optical effect was one thing, actually creating detailed illustrations with it was another. Turns out it reveals rather than hides (who knew?) so imagery plans had to be tossed out that window and reworked to balance hidden clues with vintage photography. The cursor also proved interesting at first, to ensure a clean scroll and also enable on touch based devices while making sure the content can be enjoyed even without it.</p>
          <p>All together it means lots of prototype. LOTS.</p>

          {% include button.html url="https://codepen.io/SaysKez/pen/ZrdjBR" label="Explore the Prototype" %}          

          <h3>{{site.p4}}</h3>
          <p>The final article brings a piece from 1952 to life for the modern world. Strange hues enhance the exotic atmosphere of the New Zealand landscape, contrasted with vintage photographs which hide clues to the mysterious bird waiting to be revealed by the lens. The article itself is abbreviated from the original, optimal for shorter reading time (and shorter attention spans, because you know we’ve all got them). The ‘secrets’ in the images and texts enhance their sections of the story and include additional details from the extended article which reward a thorough search but don’t diminish the experience if they’re missed. The reader is in the role of the investigator and may experience the story their own way. All thanks to an old technique predating the web itself, just like the article.</p>
          
          {% include button.html url="https://sayskez.github.io/takahe/index.html" label="Check it Out" %}          
          
          {% include image.html position="flex-first" src="images/takahe/t-postcard.png" alt="Takahe postcard" desc="New Zealand facts find their home on an iconic postcard crafted from old photos, crinkled textures, and an vintage Italian stamp" %}

          {% include image.html position="" src="images/takahe/t-map.png" alt="Map of the location" desc="Map revealing key locations from the article: actually crafted from two different maps including one 19th century bit of cartography plus information from a third." %}


          <h3>{{site.p5}}</h3>
          <p>Every element tells a story. Words and visuals might be the first that spring to mind but sounds, smells, touch, and how you interact with the story all form the experience too. Leveraging the unique interaction possibilities of your medium can change an 1952 article from something you read to a story you experience. Interactions tell a story too.</p>