<footer class="parallax-bg parallax-footer">    

        {% include social.html %}
      
        <svg class="footer-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 196 196">
            <title>Home</title>
            <desc>X Marks the Spot</desc>
            <a href="{{page.case_url}}index.html">
                <polygon fill="#000" fill-rule="evenodd" points="155.942 0 98 57.942 40.058 0 0 40.059 57.942 98 0 155.942 40.058 196 98 138.059 155.942 196 196 155.942 138.059 98 196 40.059"/>
            </a>
        </svg>
     
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{page.case_url}}js/animation.min.js"></script> 
</body>
</html>