<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} | {{site.title}}</title>
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <meta name="description" content="Kezie Todd's Portfolio" />
    <meta name="keywords" content="'Kezie Todd', kezie, portfolio, design, 'map web design', ixdbelfast, 'designs with personality'" />
    <meta name="author" content="Kezie Todd" />

    <link href="{{page.case_url}}css/style.css" type="text/css" rel="stylesheet" />   
    
    <!-- FAVICON -->
    <link rel="icon" href="{{page.case_url}}favicon.ico" type="image/x-icon"> 
    <link rel="apple-touch-icon" sizes="180x180" href="{{page.case_url}}favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{page.case_url}}favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{page.case_url}}favicons/favicon-16x16.png">
    <link rel="manifest" href="{{page.case_url}}favicons/manifest.json">
    <link rel="mask-icon" href="{{page.case_url}}favicons/safari-pinned-tab.svg" color="#6AD4EB">
    <meta name="theme-color" content="#ffffff">

    <!-- FONTS -->
    <script src="https://use.typekit.net/eou2epi.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    
</head>

<body>