<button class="js-menu menu" type="button">
    <span class="bar"></span>
</button>
    
<nav>
    <ul>
        <li><a href="{{page.case_url}}index.html">Home</a></li>
        <li><a href="{{page.case_url}}about.html">About Me</a></li>
        <li><a href="{{page.case_url}}portfolio.html">My Work</a></li>
        <li><a href="{{page.case_url}}blog.html">Blog</a></li>
        <li><a href="{{page.case_url}}contact.html">Contact</a></li>
        <li><a href="{{page.case_url}}cv.html">CV</a></li>
    </ul>
</nav>