<div class="social">
    <!-- Icons from http://whanncons.com.-->
    <ul>
        <li><a href="https://twitter.com/SaysKez" target="_blank"><img src="{{page.case_url}}images/social-icons/twitter.svg" alt="Follow me on Twitter" /></a></li>
        <li><a href="https://www.instagram.com/sayskez/" target="_blank"><img src="{{page.case_url}}images/social-icons/instagram.svg" alt="Follow me on Instagram" /></a></li>              
        <li><a href="mailto:greetings@kez.ie" target="_blank"><img src="{{page.case_url}}images/social-icons/email.svg" alt="Drop me a line"/></a></li>                              
        <li><a href="https://dribbble.com/SaysKez" target="_blank"><img src="{{page.case_url}}images/social-icons/dribbble.svg" alt="Follow me on Dribbble" /></a></li>
        <li><a href="http://sayskez.tumblr.com/" target="_blank"><img src="{{page.case_url}}images/social-icons/tumblr.svg" alt="Follow me on Tumblr"/></a></li>              
    </ul>
  </div>